*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

:root{
    --gray50 : #f7f8f9;
    --gray100: #e8ebed;
    --gray200 : #c9cdd2;
    --gray400: #9ea4aa;
    --gray500: #72787f;
    --gray600: #454c53;
    --gray800: #26282b;
    --gray900: #1b1d1f;
}