@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

:root{
    --gray50 : #f7f8f9;
    --gray100: #e8ebed;
    --gray200 : #c9cdd2;
    --gray300 : #b1b6bd;
    --gray400: #9ea4aa;
    --gray500: #72787f;
    --gray600: #454c53;
    --gray700: #33383d;
    --gray800: #26282b;
    --gray900: #1b1d1f;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: #000;
}

ol, ul, li{
    list-style: none;
}

/* 1920사이즈 기준 */
.wrap{
    width: 1536px;
    height: 100%;
    margin: 160px auto 100px auto;

    position: relative;
    display: flex;
    justify-content: center;
}



/* 사이즈 기준 */
/* 1920 */
/* 1600 */
/* 1024 */